

/* Tudo sobre documento index 
login user, administrador
*/
header{
  display:flex;
  height: 110px;
  position: relative;
  background-image: url(../img/aluno.jpg);
  background-repeat: no-repeat;
  background-position-x:480px; 
  background-position-y:-35px;
}
.cabecalho{
  position: relative;
  left: 30px;
  display: flex;
  align-items: flex-end;
}
.imagem{
  position: relative;
  left: 150px;
}
.titulo-1{
  position: relative;
  bottom: 10px;
  
}
.titulo-2{
  position: relative;
  top: 15px;
}
.linha-1{
  background-color: DodgerBlue;
  height: 5px;
}
.linha{
  background-color:rgb(189, 2, 2);
  height: 5px;
}
.corpo{
  height: 500px;
  display: grid;
  grid-template-columns: 650px auto ;
  grid-template-rows: auto;
  background-color:#9370DB;
}
main{
  display: flex;
  flex-flow: column;
  align-items: baseline;
  background-color: white;
  border-radius:2%; 
  margin: 7px;
  margin-right: 1px;
}
.titulo-3{
  position: relative;
  left: 30px;
  top: 30px;
  width: 60px;
}
.form-1{
  margin: 50px;
}
.controlo{
	display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color:DodgerBlue;
  font-size: 9px;
  border: none;
  cursor: pointer;
}
.controlo:hover{
  background-color: rgb(255, 254, 254);
  box-shadow: 3px 3px 3px rgba(14, 12, 12, 0.5);
}
input[type="text"],
input[type="password"]{
	color: black;
	padding: 5px;
	border: none;
	border-bottom: 1px solid rgb(119, 118, 118);
  width: 100%;
  outline: none;
  background-color: white;
  margin-bottom: 30px;
}
aside{
  background-color: white;
  border-radius:2%; 
  margin: 20px;
  display: flex;
  flex-flow: column;
  align-items: baseline;
  border-radius:2%; 
  margin: 7px;
  margin-left: 0;
}
.rodape{
  height: 50px;
}


/* Tudo sobre documento Menu usuario */

.cabeçalho_menu_ususario{
  height: 80px;
  background-color: #363636;
}

.titulo-4{
  position: relative;
  bottom: 30px;
  left: 30px;
}
.titulo-3{
  position: relative;
  top: 5px;
  left: 92px;
}
.conteudos{
  background-color: #363636;
}

.nav_cabeçalho_menu_ususario{
  height: 30px;
  background-color: #ccc;
  margin-left: 300px;
  
}
ul{
  margin: 0;
}
li{
  display: inline;
  margin-left:30px; 
}

.linha-4{
  background-color: DodgerBlue;
  height: 5px;
  margin-left: 300px;

}
.linha-3{
  background-color:rgb(189, 2, 2);
  height: 5px;
  margin-left: 300px;
}

.corpo_menu_ususario{
  height: 600px;
  display: grid;
  grid-template-columns: 300px auto ;
  grid-template-rows: auto;
}

.aside_menu_ususario{

  background-color: #363636;
  
}

.main_menu_ususario{
  background-color: #fff;

}